<div>

    <div class="field">
        <label for="reasonForConsultation">Razón de la consulta</label>
        <textarea id="reasonForConsultation" pInputTextarea [(ngModel)]="patient.lastConsultation!.reasonForConsultation" [disabled]="readonly" required rows="3" cols="20"></textarea>
    </div>

    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <div class="field">
                <label for="attendedBy">Atendida/o por</label>
                <p-dropdown [options]="completeListDailyAttendedBy" id="attendedBy" [disabled]="readonly" [(ngModel)]="patient.lastConsultation!.attendedBy" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-6 lg:mb-0">
            <div class="field">
                <label for="lastConsultation.date">Fecha atención</label>
                <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [showOnFocus]="false" id="lastConsultation.date" [disabled]="readonly" [(ngModel)]="patient.lastConsultation!.date" inputId="icon" autofocus ></p-calendar>
            </div>
        </div>
    </div>
    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="pregnancies">¿Embarazos?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.pregnancies" id="pregnancies" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="sons">¿Cuandos hijos tiene?</label>
                <p-inputNumber mode="decimal" id="sons" [(ngModel)]="patient.lastConsultation!.sons" [showButtons]="true" [disabled]="readonly" [min]="0" [max]="10">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="menopause">¿Tiene la menopausia?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.menopause" id="menopause" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="menstrualdisturbances">¿Tiene alteraciones menstruales?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.menstrualdisturbances" id="menstrualdisturbances" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-4 lg:col-4 lg:mb-0">
            <div class="field">
                <label for="contraceptiveMethods">¿Que métodos anticonceptivos utiliza?</label>
                <p-multiSelect [options]="completeListContraceptiveMethods" [(ngModel)]="patient.lastConsultation!.contraceptiveMethods" id="contraceptiveMethods" [disabled]="readonly"  defaultLabel="Seleccionar" display="chip"></p-multiSelect>
            </div>
        </div>
    </div>


    <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="diseases">¿Que enfermedades tiene?</label>
                <p-chips [(ngModel)]="patient.lastConsultation!.diseases" id="diseases" [disabled]="readonly"></p-chips>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="allergies">¿Que alergias tiene?</label>
                <p-chips [(ngModel)]="patient.lastConsultation!.allergies" id="allergies" [disabled]="readonly"></p-chips>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="medicines">¿Que medicinas toma?</label>
                <p-chips [(ngModel)]="patient.lastConsultation!.medicines" id="medicines" [disabled]="readonly"></p-chips>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="constipation">¿Tiene estreñimiento?</label>
                <p-dropdown [options]="completeListConstipation" id="constipation" [disabled]="readonly" [(ngModel)]="patient.lastConsultation!.constipation" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="digestions">¿Digestiones?</label>
                <input type="text" pInputText id="patient.lastConsultation!.digestions" [disabled]="readonly" [(ngModel)]="patient.lastConsultation!.digestions" autofocus />
            </div>
        </div>
        <div class="col-12 mb-2 lg:col-2 lg:mb-0">
            <div class="field">
                <label for="heavyLegs">¿Tiene pesadez de piernas?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.heavyLegs" id="heavyLegs" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
    </div>

    <div class="grid formgrid">
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="smoke">¿Fuma?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.smoke" id="smoke" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="amountSmoke">¿Que cantidad al día?</label>
                <p-inputNumber mode="decimal" [(ngModel)]="patient.lastConsultation!.amountSmoke" id="patient.lastConsultation!.amountSmoke" [showButtons]="true" [disabled]="readonly" [min]="0" [max]="60">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="drinkAlcohol">¿Consume Alcohol?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.drinkAlcohol" id="drinkAlcohol" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="drinkCoffee">¿Consume Cafeína?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.drinkCoffee" id="drinkCoffee" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
    </div>

    <div class="grid formgrid">
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="performPhysicalActivity">¿Realiza actividad física?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.performPhysicalActivity" id="performPhysicalActivity" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="performPhysicalActivityFrequency">¿Frecuencia a la semana?</label>
                <p-inputNumber mode="decimal" [(ngModel)]="patient.lastConsultation!.performPhysicalActivityFrequency" id="performPhysicalActivityFrequency" [showButtons]="true" [disabled]="readonly" [min]="0" [max]="7">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="dailyActivity">¿Actividad diaria?</label>
                <p-dropdown [options]="completeListDailyActivity" id="dailyActivity" [disabled]="readonly" [(ngModel)]="patient.lastConsultation!.dailyActivity" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="hourOfSleep">¿Cuantas horas duerme?</label>
                <p-inputNumber mode="decimal" [(ngModel)]="patient.lastConsultation!.hourOfSleep" id="hourOfSleep" [showButtons]="true" [disabled]="readonly" [min]="0" [max]="10">
                </p-inputNumber>
            </div>
        </div>
    </div>


    <div class="grid formgrid">
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="sunbathe">¿Toma sol?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.sunbathe" id="sunbathe" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="sunbatheFrequency">¿Con que frecuencia?</label>
                <input type="text" [(ngModel)]="patient.lastConsultation!.sunbatheFrequency" pInputText id="sunbatheFrequency" [disabled]="readonly" autofocus />
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="loseWeightEasily">¿Pierde peso facilmente?</label>
                <p-toggleButton [(ngModel)]="patient.lastConsultation!.loseWeightEasily" id="loseWeightEasily" onLabel="Si" offLabel="No" [disabled]="readonly" [style]="{'width': '10em', 'display': 'block'}"></p-toggleButton>
            </div>
        </div>
        <div class="col-12 mb-3 lg:col-3 lg:mb-0">
            <div class="field">
                <label for="takeCareOfTheSkinDaily">¿Se cuida la piel diariamente?</label>
                <p-dropdown [options]="completeListTakeCareOfTheSkinDaily" id="takeCareOfTheSkinDaily" [disabled]="readonly" [(ngModel)]="patient.lastConsultation!.takeCareOfTheSkinDaily" placeholder="Seleccionar" [showClear]="true"></p-dropdown>
            </div>
        </div>
    </div>


    <div class="grid formgrid">
        <div class="col-12 mb-12 lg:col-12 lg:mb-0">
            <div class="field">
                <label for="dietAndWaterIntake">Dieta y consumo de agua</label>
                <textarea id="dietAndWaterIntake" pInputTextarea [(ngModel)]="patient.lastConsultation!.dietAndWaterIntake" [disabled]="readonly" required rows="3" cols="20"></textarea>
            </div>
        </div>
    </div>

    <div class="grid formgrid">
        <div class="col-12 mb-6 lg:col-6 lg:mb-0">
            <div class="field">
                <label for="previousTreatments">Tratamientos previos</label>
                <textarea id="previousTreatments" pInputTextarea [(ngModel)]="patient.lastConsultation!.previousTreatments" [disabled]="readonly" required rows="3" cols="20"></textarea>
            </div>
        </div>
        <div class="col-12 mb-6 lg:col-6 lg:mb-0">
            <div class="field">
                <label for="completeListContraindications">Contraindicaciones</label>
                <p-multiSelect [options]="completeListContraindications" [(ngModel)]="patient.lastConsultation!.contraindications" [disabled]="readonly" id="contraindications" defaultLabel="Seleccionar" display="chip"></p-multiSelect>
            </div>
        </div>
    </div>


    <div class="grid formgrid">
        <div class="col-12 mb-12 lg:col-12 lg:mb-0">
            <div class="field">
                <label for="observations">Observaciones</label>
                <textarea id="observations" pInputTextarea [(ngModel)]="patient.lastConsultation!.observations" [disabled]="readonly" required rows="3" cols="20"></textarea>
            </div>
        </div>
    </div>

</div>